.container {
    min-width: 320px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    cursor: pointer;
    background: unset;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 32px;
    color: black;
    margin-right: 16px;
    align-items: center;
    display: flex;
    margin-top: 16px;
}

.icon {
    margin-right: 16px;
    width: 24px;
}

.content{
    display: flex;
    align-items: center;

    & p{
        margin: unset;
    }
}
